<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             version="2.0">
    <persistence-unit name="firebird4"
                      transaction-type="RESOURCE_LOCAL">
        <class>com.company.firebird4.entity.Student</class>
        <class>com.company.firebird4.entity.Group</class>
    </persistence-unit>
</persistence>
